 <% @query1.each do |post| %>
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title"><%= post.name %> <%= post.id_tick %></h2>
        </div>
        <% end %>
<!-- <% @query2.each do |post| %>
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title"><%= post.name %> <%= post.counter %></h2>
        </div>
        <% end %> -->
<!-- <% @query3.each do |post| %>
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title"><%= post.id_cust %> <%= post.counter %></h2>
        </div>
        <% end %> -->
<!--     <% @query4.each do |post| %>
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title"><%= post.id_admin %> <%= post.surname %> <%= post.position %></h2>
        </div>
        <% end %> -->