<div class="col-md-8">
<form action="/posts/update/<%= @posts.id %>" method="POST">
  <div class="form-group">
    <label for="title">Name</label>
    <input type="text" name="attraction[name]" value="<%= @posts.name %>" class="form-control">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Select admin</label>
    <select class="form-control" name="attraction[id_admin]">
      <% @admins.each do |admin|%>
        <option value="<%= admin.id_admin %>" <% if @posts.id_admin == admin.id_admin %> selected <%end%> ><%= admin.surname%></option>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Select tech team</label>
    <select class="form-control" name="attraction[id_tech]">
      <% @techs.each do |tech|%>
        <option value="<%= tech.id_tech %>" <% if @posts.id_tech == tech.id_tech %> selected <%end%> ><%= tech.spec%></option>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <label>Age:</label>
    <textarea name="attraction[age]" class="form-control" rows="10"><%= @posts.age %></textarea>
  </div>
  <div class="form-group">
    <label>During:</label>
    <textarea name="attraction[during]" class="form-control" rows="10"><%= @posts.during %></textarea>
  </div>
  <div class="form-group">
    <label>Price:</label>
    <textarea name="attraction[price]" class="form-control" rows="10"><%= @posts.price %></textarea>
  </div>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token%>
   <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>